/* structure */
.container {
    display: inline-block;
    width: 100%;
    padding: 80px 0;
}
    .container.hero {
        background-image: url(../img/comingsoon.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 20px;
    }
    .container.footer {
        background-color: #36f;
    }
    .hero-row {
        display: inline-block;
        width: 600px;
        margin-left: calc(50% - 300px); 
        text-align: center;   
    }
    .container > .row {
        display: inline-block;
        width: 1000px;
        margin-left: calc(50% - 500px);
    }
        .container > .row > .left{
            display: inline-block;
            width: 50%;
            float: left;
            /* background-color: crimson; */

        }
        .container > .row > .right{
            display: inline-block;
            width: 40%; 
            float: right;
            /* background-color: darkgreen; */
        }
/* hero section */
.hero-row > .logo {
    display: inline-block;
    margin-bottom: 40px;
    height: 40px;   
}
.hero-row > h1 {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #000000;
    font-size: 64px;
    line-height: 60px;
    
}
.hero-row > p {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    color: #dddddd;

}
.hero-row > .clock {
    display: inline-block;
    width: 100%;
    margin: 40px 0;
}
.hero-row > .form {
    display: inline-block;
    width: 90%;
    margin: 0 5% 10px;
    /* background-color: greenyellow; */
    
}
.hero-row > .mouse {
    display: inline-block;
    
}

/* content section */
.content h2 {
    display: inline-block;
    width: 100%;
    /* background-color: red; */
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.content p {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0;
    color: #777;
}
.content p > a {
    display: inline;
    color: #ea1e63;
    text-transform: none;
}